* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  border: 2px solid black;
  flex-grow: 0;
}

#menu {
  display: flex;
  gap: 1rem;
}

#menu li {
  list-style: none;
}

main {
  flex-grow: 1;
}

.book-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 500px;
  padding: 0.5rem;
}

.book-container h2 {
  text-align: center;
  padding: 1rem;
}

#bookList li {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

#bookList li h3 {
  flex-grow: 0;
}

#bookList li button {
  flex-grow: 0;
}

#bookList li p {
  flex-grow: 1 !important;
}

#addBookForm {
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

address {
  display: inline;
}

footer {
  width: 700px;
  border: 2px solid black;
  padding: 1rem;
  flex-grow: 0;
}

.display-none {
  display: none;
}
